Importing required libraries

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

### Getting data from wikipedia webpage and extracting table data

In [3]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

#Creating BeautifulSoup object with lxml parser
soup = BeautifulSoup(source, 'lxml')

#Storing table data in a variable, first table appearance has the date
table = soup.find('table')

#Storing column header in a variable, from the header row of the wikipedia table
header = table.find_all('th')

columns = []

for head in header:
    columns.append(head.text.rstrip())
    
columns

['Postal code', 'Borough', 'Neighborhood']

#### Inserting table rows into a dataframe

In [11]:
#parsing through table rows to create a list and creating a dataframe
table_rows = table.find_all('tr')

l = []
for tr in table_rows:
    td = tr.find_all('td')
    row = [tr.text.rstrip() for tr in td]
    l.append(row)
    
table_df = pd.DataFrame(l, columns = columns)
table_df.head()

  Postal code       Borough      Neighborhood
0        None          None              None
1         M1A  Not assigned
2         M2A  Not assigned
3         M3A    North York         Parkwoods
4         M4A    North York  Victoria Village

Rename column 'Postal code' to 'PostalCode'

In [12]:
table_df.rename(columns={'Postal code': 'PostalCode'}, inplace=True)
table_df.head()

  PostalCode       Borough      Neighborhood
0       None          None              None
1        M1A  Not assigned
2        M2A  Not assigned
3        M3A    North York         Parkwoods
4        M4A    North York  Victoria Village

Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [13]:
#drop 'Not assigned' Boroughs
table_df = table_df[table_df['Borough'] != 'Not assigned']
table_df.head()

  PostalCode           Borough                       Neighborhood
0       None              None                               None
3        M3A        North York                          Parkwoods
4        M4A        North York                   Victoria Village
5        M5A  Downtown Toronto         Regent Park / Harbourfront
6        M6A        North York  Lawrence Manor / Lawrence Heights

In [14]:
#drop rows with 'None' values (first row has 'None' value for all columns)

table_df.dropna(inplace=True)
table_df.head()

  PostalCode           Borough                                  Neighborhood
3        M3A        North York                                     Parkwoods
4        M4A        North York                              Victoria Village
5        M5A  Downtown Toronto                    Regent Park / Harbourfront
6        M6A        North York             Lawrence Manor / Lawrence Heights
7        M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

In [15]:
#There is no PostalCode assigned to more than one Neighborhoods in the Wikipedia table data

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [16]:
#There is no Borough with 'Not assigned' Neighborhood

In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [17]:
#Printing the no. of rows in the DataFrame
table_df.shape

(103, 3)